<div id="footer">
    <ul>
        <li><a href="https://www.linkedin.com/in/brianthomasjoyce" target="_blank"><img src="~/graphics/linkedin.jpg" width="48" height="48"></a></li>
        <li><a href="https://www.linkedin.com/in/brianthomasjoyce" target="_blank"><img src="/graphics/facebook.jpg" width="48" height="48"></a></li>
        <li><a href="https://www.linkedin.com/in/brianthomasjoyce" target="_blank"><img src="/graphics/github.jpg" width="48" height="48"></a></li>
    </ul>
</div>