<div id="header">
    <nav>
        <ul>
            <li><a href="https://www.github.com">GitHub</a></li>
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/brianthomasjoyce" target="_blank">LinkedIn</a></li>
        </ul>
    </nav>
</div>
