<div id="sidebar">
    <nav>
        <ul>
            <li>@Html.ActionLink("About Me", "HomePage", "Index")</li>
            <li><a href="https://www.google.ie">Future Projects For Download</a></li>
            <li>@Html.ActionLink("CV To Date", "CV", "Index")</li>
            <li><a href="https://www.google.ie">Ask A Question</a></li>
        </ul>
    </nav>
</div>
