
@{
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<h1>Bsc. Honours Software Development</h1>
<p class="solid">An open-minded, self-motivated individual.  Experience in software development, web publishing and e-mail development using a variety of proprietary tools and applications.  Strong technical skills as well as excellent team skills.  Eager to take on new challenges within the IT industry.</p>
<h2>Key Skills</h2>
<ul id="double" class="a">
    <li>C# development </li>
    <li>Experience with Subversion Control at application and programming level</li>
    <li>Knowledge of Tortoise SVN</li>
    <li>HTML & CSS</li>
    <li>Litmus e-mail test platform</li>
    <li>Sitecore & Typo3 Content Management Systems</li>
    <li>Knowledge of Brightcove video host platform</li>
    <li>Exposure to Accurev SCM Software</li>
    <li>Previous exposure and use of Java</li>
    <li>Eclipse IDE</li>
    <li>Familiar with PowerShell Scripting</li>
    <li>Exposure to Acme Product database</li>
    <li>Familiar with SQL</li>
    <li>Microsoft Visual Studio 2010</li>
    <li>Windows Phone App development</li>
    <li>Experience with development under Scrum and Other Agile Methods</li>
    <li>Microsoft Publisher, Excel, Word</li>
    <li>Strong Team Skills</li>
    <li>Strong Communication Skills</li>
</ul>
<!-- TABS WITH WORK EXPERIENCE -->
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Rational Group</a></li>
        <li><a href="#tab2">Lionbridge</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <p><strong>Technical Web Producer - Full Tilt Poker</strong></p>
            <ul class="a">
                <li>Coordinate the development and deployment of assigned web products as part of a Scrum Team</li>
                <li>Participation in Sprint Planning, Daily Stand Up meetings and Sprint Retrospectives</li>
                <li>Identified key process improvements to eliminate common problems and introduced processes to efficiently handle common tasks.</li>
                <li>Work with Project Owners to prioritise delivery of requirements and change requests.</li>
                <li>Manage the scheduling of story dependencies with graphics, copy and localisation teams.</li>
                <li>Schedule deployments with Project Owners, Release Management and QA teams.</li>
                <li>Work with Project Owners and other web teams to implement post deployment improvements.</li>
                <li>Assisted other team members with tasks to help deliver projects on time.</li>
                <li>Praised for great work ethic, eagerness to take on new challenges, adapting quickly to processes and tools & consistently seeking improvements on how to deliver.</li>
            </ul>
            </ul>
        </div>
        <div id="tab2" class="tab">
            <p><strong>Software Developer & Publisher for Team Office.com - 04/03/2014 – 03/03/2015</strong></p>
            <ul class="a">
                <li>Worked as part of part of a two-person C# development team to implement a solution to automate the processing of assets such as web pages, graphics and other file types during office.com content management system changes.</li>
                <li>Also acted as Web Publisher during significant busy periods on the project, working alongside a team of twenty engineers in Dublin and Beijing.</li>
                <li>Played a key role in the new-work setup both as a developer and as a project member.</li>
                <li>As the main developer, created an application now used World-wide within the company that allowed assets to be handled easily within the team’s internal workflow, developing against the latest Azure cloud server platform.</li>
                <li>Designed and implemented significant process improvements by automating the capture and elimination of errors that may occur through the workflow process.</li>
                <li>Within a Quality Assurance role, produced test plans and documentation outlining ongoing development.</li>
                <li>Worked within an extremely changeable environment with new requirements introduced on a weekly basis.  Catered for immediate process changes without impact on timelines.</li>
                <li>Developed several smaller applications and scripts for mirroring webpages, leading to significant process improvements.</li>
                <li>Developed and implemented updates to content and webpage enhancements.</li>
                <li>Provided Quality Assurance services for all pages.</li>
                <li>Often praised for good work-ethic within the constantly-changing environment.</li>
            </ul>
            <p><strong>Web / HTML E-Mail Developer	03/06/2013 - 04/03/2014</strong></p>
            <ul class="a">
                <li>Played a key role in the creation of e-mails and templates for future projects and also developed applications in C# in order to read from and write to spreadsheets.</li>
                <li>Adhered to best practices in design and creation of e-mails without compromising specifications.</li>
                <li>Creation of e-mails, taking into account future localisation of content.</li>
                <li>Performed quality assurance of e-mails across all platforms using applications such as Litmus.</li>
                <li>Acknowledged by clients and internal project managers for producing excellent results within extremely tight deadlines.</li>
            </ul>
            <p><strong>Web Publisher on Team Starbucks - 04/03/2013 - 31/05/2013</strong></p>
            <ul class="a">
                <li>Worked as publisher on the Starbucks content management system as part of a team based in Dublin and Beijing.</li>
                <li>Implemented updates across all markets to do with major product launches as well as regular site maintenance.</li>
                <li>Engaged with clients to gather requirements.</li>
                <li>Carried out Quality Assurance on all changes and updates to web pages.</li>
                <li>Gained experience with applications such as Sitecore content management system, Brightcove cloud hosting service platform and Acme products database application.</li>
            </ul>
        </div>
    </div><!--class Tab Content-->
</div>
