
@{
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


<div class="jumbotron">
    <div class="container">
        <p class="CenterImg"><img src="http://localhost:53083/graphics/me.jpg" class="img-responsive img-rounded" alt="Reponsive image"></p>
        <h1>About Me</h1>
        <p>I am A Software Developer and Web Producer from Galway, Ireland.</p>
        <p>
            Thirst for knowledge, a passion to take on new problems and develop on current and upcoming technologies. Interested in all tasks and a team player in all aspects of group project work.
        </p>
        <p>
            Job satisfaction plays a big part in my motivation. Being able to trigger a solution to help eleviate tedious tasks plays a key role in what I like to work on in terms of a project.
        </p>
        <p>
            <button type="button" class="btn btn-success">About Me</button>
            <button type="button" class="btn btn-success">Login</button>
            <button type="button" class="btn btn-success">Register</button>
        </p>
    </div>
</div>

